@import '../abstracs/colors.scss';

.container{
    display: flex;
    background-color: $primary-blue;
    color: $primary-white;
    height: 10rem;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    row-gap: 1rem;
    font-size: clamp(1rem,100%,1.6rem);
    padding: 0 2rem;
    
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    &>div{
        &>span{
            padding-left: 2rem;
        }
    }
    
}

.button{
    display: flex;
    
    &input[type="radio"] {
        display: none;
        color: $primary-white;
        
        &:checked + label{
            border-top: $primary-orange;
            cursor: pointer;
        }
        
    }
    label{
       
        padding-left: 2rem;
        

    }
    
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    &>svg{
        color: $primary-green;
        font-size: clamp(2rem,5vw,3rem);
        padding-right: 0.5rem;
        &:hover{
            cursor: pointer;
            color: white;
        }
    }
    &>div{
        background-color: $primary-white;
        width: 5rem;
        height: 5rem;
        border-radius: 3rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
        
        &>img{
            width: 4rem;
            height: 4rem;
            border-radius: 2rem;
           
        }
    }
    input[type="radio"] {
        display: none;
        
    }
    label{

        padding-left: 0.1rem;
        &:hover{
            cursor: pointer;
        
        }

    }
    
    
}
